<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<h1><%= @a =%></h1>
<p>
  Time to say
  <%=link_to "goodbye", say_goodbye_path =%>
  <%= @files.each do |file| =%> Prepared exclusively for 41studio
report erratum • discuss
Chapter 2. Instant Gratification • 38

file name is: <%= file %> <% end %>
</p>
